<div class="row" id="search-t">
  <app-table-searchbar></app-table-searchbar>
</div>
<div id='htmlData'>
<table class="table table-bordered table-striped table-responsive-xl">
  <thead class="thead-dark">
    <tr>
        <th class= "col-lg-1" scope="col-lg-1">Reclamo ID</th>
        <th class= "col-lg-1" scope="col-lg-1">Rut</th>
        <th class ="col-lg-2" scope="col-lg-3">Nombre Usuario</th>
        <th class ="col-lg-3" scope="col-lg-3">Descripcion</th>
        <th class ="col-lg-1" scope="col-lg-3">Fecha</th>
        <th class ="col-lg-1" scope="col-lg-1">Estado</th>
        <th class= "col-lg-1" scope="col-lg-2">Optiones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let reclamo of reclamos">
      <th scope="row">{{reclamo.id}}</th>
      <td>{{reclamo.rut}}</td>
      <td>{{reclamo.nombre}}</td>
      <td>{{reclamo.descripcion}}</td>
      <td>{{reclamo.fecha}}</td>
      <td>{{reclamo.estado}}</td>
      <td>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-sm" disabled>Editar</button>
            <button type="button" class="btn btn-secondary btn-sm">Responder</button>
          </div>
        </div>
      </td>
    </tr>


  </tbody>
</table>
</div>
<div style="text-align: center;">
  <button class="btn col col-lg-4 btn-danger btn-block ml-4">Download PDF</button>
  <!--<button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>-->
</div>