button[id="botoninicio"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display:inline-flex;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 25px 20px 40px 20px;
}
  
button[id="botoninicio"]:hover {
  background-color: #39ace7;
}

.input-correo {
  margin-bottom:10px;
  margin-left:10px;
}