<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">Tus reclamos</h5>
        <hr>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item" *ngFor="let reclamo of reclamos | callback: filterUser | callback: filterStatusEnProgreso"> <!--| filterbyrut:19581239"> -->
              <h2 class="accordion-header"> <!--id="headingOne">-->
                <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" id = "colapsOne" data-bs-target="#collapseOne" aria-controls="collapseOne">  <!--id = "colapsOne" data-bs-target="#collapseOne" aria-controls="collapseOne"-->
                  <b>{{reclamo.asunto}} - Estado: {{reclamo.estado}}</b>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>{{reclamo.textoReclamo}}</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item" *ngFor="let reclamo of reclamos | callback: filterUser | callback: filterStatusEnviado">
              <h2 class="accordion-header" id="headingTwo">
                <button id = "colapsTwo" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>{{reclamo.asunto}} - Estado: {{reclamo.estado}}</b>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>{{reclamo.textoReclamo}}</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item" *ngFor="let reclamo of reclamos | callback: filterUser | callback: filterStatusFinalizado">
              <h2 class="accordion-header" id="headingThree">
                <button id = "colapsThree" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>{{reclamo.asunto}} - Estado: {{reclamo.estado}}</b>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>{{reclamo.textoReclamo}}</strong>
                </div>
              </div>
            </div>
            
            <div class="accordion-item" *ngFor="let reclamo of reclamos | callback: filterUser | callback: filterStatusError">
                <h2 class="accordion-header" id="headingFour">
                  <button id = "colapsFour" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      <b>{{reclamo.asunto}} - Estado: {{reclamo.estado}}</b>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>{{reclamo.textoReclamo}}</strong>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>
