<div class="boton-respuesta">
    <button type="button" class="btn boton" id="botoninicio" data-bs-toggle="modal" data-bs-target="#complain-answer">
        <span class="iconify" data-icon="mdi:message-reply-text-outline" data-inline="false"></span> Agregar respuesta
    </button>
</div>

<div class="modal fade" id="complain-answer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar nueva respuesta al reclamo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <p>Ingrese respuesta:</p>
            <textarea class="form-control" id="answer-textarea" rows="3"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <button type="button" class="btn btn-primary" id="botonEnviar" data-bs-dismiss="modal" >Enviar</button>
        </div>
        </div>
    </div>
</div>