<footer class="footer">
  <div class="row">
    <div class="col-3 col-md-12">
      <div class="logo-container">
        <img class="logo-umayor-footer" src="assets/LOGO-UM-NEGRO-H.png" alt="Logo de la Universidad Mayor">
      </div>
      <div class="col-3 col-md-12">
        <div class="footer-column">
          <h5>Contáctanos</h5>
          <address>
            <p><a href="mailto:rector@umayor.cl">Contacto</a></p>
            <p><a href="https://goo.gl/maps/tjB6Rkfk3fitcvz8A">Ubicación</a></p>
          </address>
        </div>
      </div>
      <div class="col-3 col-md-12">
        <div class="footer-column">
          <h5>¿Quieres saber más?</h5>
          <p><a href="https://www.umayor.cl/um/santiago-historia-institucional/10000">Sobre nosotros</a></p>
          <p><a href="https://www.umayor.cl/um/santiago-autoridades-universitarias/10000">Quienes somos</a></p>
        </div>
      </div>
      <div class="col-3 col-md-12">
        <div class="footer-column">
          <h5>¡Síguenos en redes sociales!</h5>
          <a href="" href="https://www.facebook.com/umayor.cl">
            <span class="iconify" data-icon="mdi:facebook" data-inline="false" alt="Facebook"></span>
          </a>
          <a href="" href="https://www.instagram.com/umayor">
            <span class="iconify" data-icon="mdi:instagram" data-inline="false" alt="Instagram"></span>
          </a>
          <a href="" href="https://twitter.com/DiarioMayor">
            <span class="iconify" data-icon="mdi:twitter" data-inline="false" alt="Twitter"></span>
          </a>
          <a href="" href="https://www.youtube.com/user/LaUMayor">
            <span class="iconify" data-icon="mdi:youtube" data-inline="false" alt="YouTube"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>