
<footer class="footer mt-auto py-3 bg-light">
  <div class="footer">
    <div class="inner-footer">
      <div class="row">
        <div class="col-3-lg">
          <div class="logo-container">
            <img src="https://img.icons8.com/ios-filled/100/000000/communication.png">
          </div>
        <div class="col-3-lg">
          <div class="footer-third">
            <h1>Need Help?</h1>
            <a href="">Terms and condicions</a>
            <a href="">Terms and condicions</a>
            <a href="">Terms and condicions</a>
          </div>
        </div>
        <div class="col-3-lg">
          <div class="footer-third">
            <h1>More about us?</h1>
            <a href="">Terms and condicions</a>
            <a href="">Terms and condicions</a>
            <a href="">Terms and condicions</a>
          </div>
        </div>
        <div class="col-3-lg">
          <div class="footer-third">
            <h1>Socialmedia?</h1>
            <li>
                <a href="">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/facebook.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/instagram-new.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/twitter.png">
                </a>
            </li>

            <span>
                Hello my here bellongs some adresses taht we could use<br>
                and if you can make some thing it would be greate<br>
                even more bla bla bla for test<br>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

