<app-navbar></app-navbar>
<div class="container">
    <div class="row p-3">
        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Registrese</h5>
                    <hr>
                    <div class="mb-3">
                        <label class="form-label">Nombres</label>
                        <input class="form-control" placeholder="Primer Nombre Segundo Nombre" [(ngModel)]="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellidos</label>
                        <input class="form-control" placeholder="Apellido Paterno Apellido Materno" [(ngModel)]="apellidos">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Rut</label>
                        <input class="form-control" placeholder="12.345.678-9" [(ngModel)]="rut">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">e-mail</label>
                        <input class="form-control" placeholder="example@gmail.com" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Número de teléfono</label>
                        <input class="form-control" placeholder="+56912345678" [(ngModel)]="numero_telefono">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input class="form-control" placeholder="********" [(ngModel)]="password">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary" (click)="crearUsuario()">Registar Usuario</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                    <h4>En nuestra página web, podrá quejarse hasta que quede satisfecho.</h4>
                    <hr>
                    <img src="\assets\drawkit-grape\drawkit-grape-pack-illustration-18.svg"
                        width="100%" height="480">
                </div>
            </div>
        </div>
    </div>
</div>