<app-navbar-admin></app-navbar-admin>

<h2 id="title">Estados de Reclamos</h2>
<hr>
<div class="row" id= "reportcards">
  <div class="col-lg-3">
    <app-complain-card></app-complain-card>
  </div>
  <div class="col-lg-3">
    <app-complain-card2></app-complain-card2>
  </div>
  <div class="col-lg-3">
    <app-complain-card3></app-complain-card3>
  </div>
  <div class="col-lg-3">
    <app-complain-card4></app-complain-card4>
  </div>
</div>

<div class="row" id="grafico" > 

<app-grafico></app-grafico>

</div>

<hr>
<h2>Tabla de reclamos</h2>
<div class="row">
  <div class="col-lg-7">
    <app-table></app-table>
  </div>
  <div class="col-lg-4">
    <app-pdf-reader></app-pdf-reader>
  </div>


</div>
