<app-navbar></app-navbar>
<div class="wrapper">
  <div id="formContent">
    <form>
      <h2> Ingreso de usuario</h2>
      <p>Usuario de prueba: a@a.a | Contraseña: 123</p>
      <input type="text" [(ngModel)]="email" placeholder="nombre.apellido@mayor.cl" name="login">
      <input type="password" [(ngModel)]="password" placeholder="Contraseña" name="login">
      <input type="submit" value="Ingresar" (click)="login()">
    </form>
    <div id="formFooter">
      <app-modal></app-modal>
      <input type="submit" value="Registrar" routerLink="/user-register">
    </div>
  </div>
</div>