<app-navbar></app-navbar>

<div class="wrapper">
  <div id="formContent">
    <form>
        <h2> Ingreso de usuario</h2>
      <input type="text" [(ngModel)]="email" placeholder="example@gmail.com" name="login">
      <input type="password" [(ngModel)]="password" placeholder="Contraseña" name="login">
      <input type="submit" value="Ingresar" (click)="login()"><!--routerLink="/user-home/1" -->
    </form>

    
    <div id="formFooter">
      <app-modal></app-modal>
      <input type="submit" value="Registrar" routerLink="/user-register">     
    </div>

  </div>
</div>