<app-navbar></app-navbar>
<div class="container">
    <div style="margin-top:20px">
        <app-carousel></app-carousel>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-4">
            <h1>Mesa de Ayuda</h1>
            <p>En este portal, podremos ayudarte con tus reclamos, quejas, sugerencias y consultas relacionadas a
                nuestros servicios educativos.</p>
            <button type="button" class="btn landing-button" routerLink="/user-login">Leer más</button>
        </div>
        <div class="col-lg-8">
            <img src="assets/drawkit-grape/drawkit-grape-pack-illustration-2.svg" width="100%" style="padding:15%"
                alt="Imagen vectorizada">
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-6">
            <img src="assets/drawkit-grape/drawkit-grape-pack-illustration-4.svg" width="100%" style="padding:20%"
                alt="Imagen vectorizada">
        </div>
        <div class="col-lg-4">
            <h1>Solución a reclamos</h1>
            <p>Estamos para ayudarte y entregar solución oportuna a tus reclamos. Abre un nuevo ticket para compartirnos
                tu queja y te asignaremos un administrador para que pueda brindarte una respuesta satisfactoria.</p>
            <button type="button" class="btn landing-button" routerLink="/user-login">Subir un reclamo</button>
        </div>
    </div>
</div>