.navbar{
    background:  #FEDA3F;
    width: 100%;
  }

  .nav-link{
    color: #3C3C3B;
  }

  .navbar-brand{
    color: #3C3C3B;
  }
  #logout-button{
    height:30px;
    margin-right:45px;
  }
  