.navbar{
  background:  #FEDA3F;
  width: 100%;
}

.nav-link{
  color: #3C3C3B;
  font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  vertical-align: bottom;
}

.navbar-brand{
  color: #3C3C3B;
}
.material-icons{
  margin-right:45px;
  vertical-align: top;
}

